if TARGET_MONOPI_R5S_RK3568

config SYS_BOARD
        default "monopi-r5s-rk3568"

config SYS_VENDOR
        default "ombres"

config SYS_CONFIG_NAME
        default "monopi-r5s-rk3568"

config BOARD_SPECIFIC_OPTIONS # dummy
        def_bool y

endif


